@import url('https://fonts.googleapis.com/css2?family=Herr+Von+Muellerhoff&family=Ruthie&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&family=Herr+Von+Muellerhoff&family=Ruthie&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karma&display=swap');










h1 {
    display: flex;
    color: black;
    font-size: 120px;
    font-family: 'Herr Von Muellerhoff';
    justify-content: center;
    padding: 0;
}

h2 {
    display: flex;
    color: black;
    font-size: 35px;
    font-family: 'Amatic SC';
    justify-content: center;
    word-spacing: 15px;
    padding: 0%;

}
    

a {
    display: flex;
    display: inline; 
    color: grey;
    font-size: 50px;
    font-family: 'Amatic SC';
    flex-direction: row;
    padding: 0.5%; 
    /* justify-content: ;  */
    text-align: center; 
    text-decoration: none; 
     
 }

p { 
    display: flex;
    color: black;
    font-size: 20px;
    font-family:'Karma' ;
    justify-content: center;
    
    
}

.image {
    position: relative;
    width: 400px;
}

.image__me {
    position: block;
    width: 600px;

}

p {
    font-size: 18px;
    line-height: 24px;
    
  }
  
  .container {
    max-width: 700px;
  } 
  
  .image__me { 
    display: block;
    width: 100%
   
    
}

.nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}

