@import url('https://fonts.googleapis.com/css2?family=Herr+Von+Muellerhoff&family=Ruthie&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&family=Herr+Von+Muellerhoff&family=Ruthie&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karma&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');


h1 {
    display: flex;
    color: black;
    font-size: 100px;
    font-family: 'Herr Von Muellerhoff';
    justify-content: center;
    padding: 0;
}

h2 {
    display: flex;
    color: black;
    font-size: 25px;
    font-family: 'Amatic SC';
    justify-content: center;
    word-spacing: 15px;
    padding: 0%;

}
    

a {
    display: flex;
    display: inline; 
    color: grey;
    font-size: 50px;
    font-family: 'Amatic SC';
    flex-direction: row;
    padding: 0.5%; 
    text-align: center; 
    text-decoration: none; 
     
 }

 .column {
    position: relative;
    width: 50px;
}


.nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}